<div class="col-xs-6 col-md-3 thumbTop">
	<div class="thumb">
		<div class-"img-wrapper">
			<img style="width:250px;height:auto" src="{{thumb}}">
		</div>
		<div class="thumbInfo">
			<div class="thumbTitle">
				<span>{{name}}</span>
			</div>
			<div class="thumbCount">
				<span class="glyphicon glyphicon-picture"> {{__v}}
			</div>
		</div>
    </div>
</div>
