<div class="col-xs-6 col-md-3 thumbTop">
	<div class="thumb">
		<div class-"img-wrapper">
			<img style="width:250px;height:auto" src="../Photos/{{path}}/thumbnails/{{name}}">
		</div>
		<div class="thumbInfo">
			<div class="thumbTitle">
				<span>{{caption}}</span>
			</div>
		</div>
    </div>
</div>
